*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    max-width:600px;
    margin:0 auto;
    font-family:'Smythe', cursive;
    background:#fff;
}

/* HEADER */

header{
    background:url('https://images.unsplash.com/photo-1513104890138-7c749659a591')
    center/cover;
    color:white;
    padding:50px 30px;
}

.heading{
    font-size:2.5rem;
}

.tagline{
    font-size:1.2rem;
    margin-top:10px;
}

/* MENU */

.menu-container{
    padding:20px;
}

.items-container{
    display:flex;
    align-items:center;
    gap:20px;
    padding:30px 0;
    border-bottom:1px solid #dcdcdc;
}

.emoji{
    font-size:4rem;
}

.details-container{
    flex:1;
}

.details-container h2{
    font-size:1.75rem;
}

.details-container p{
    margin-top:6px;
}

.ingredients{
    color:#8b8b8b;
}

.price{
    font-weight:bold;
}

.add-to-order-button{
    width:50px;
    height:50px;
    border-radius:50%;
    border:1px solid #dedede;
    background:white;
    cursor:pointer;
    font-size:2rem;
}

/* ORDER */

.order-container{
    display:none;
    padding:20px;
}

.order-title{
    text-align:center;
    margin-bottom:30px;
}

.order-list{
    list-style:none;
}

.order-row{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.item-details{
    display:flex;
    gap:10px;
    align-items:center;
}

.remove-button{
    border:none;
    background:none;
    color:#999;
    cursor:pointer;
}

.total-container{
    margin-top:20px;
}

.total-row{
    display:flex;
    justify-content:space-between;
    border-top:2px solid black;
    padding-top:15px;
    margin-top:15px;
}

#complete-order-btn{
    width:100%;
    margin-top:20px;
    padding:18px;
    border:none;
    background:#16DB99;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

/* MODAL */

.modal-container{
    display:none;

    position:fixed;
    top:50%;
    left:50%;

    transform:translate(-50%, -50%);

    background:white;
    width:90%;
    max-width:450px;

    padding:30px;

    box-shadow:0 0 50px rgba(0,0,0,.25);
}

.modal-title{
    text-align:center;
    margin-bottom:20px;
}

.modal-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.modal-form input{
    padding:15px;
}

.pay-button{
    padding:15px;
    border:none;
    background:#16DB99;
    color:white;
    cursor:pointer;
}

/* SUCCESS */

.success-message-container{
    display:none;
    margin:20px;
    background:#ECFDF5;
    padding:20px;
    border-radius:4px;
}

.success-message{
    text-align:center;
    color:#065F46;
}